<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="img/min.png" alt="logo">
        </div>
        <div class="btn-salir">
            <a class="btn" href="index-example-final.html"><button>Salir</button></a>
        </div>
    </header>


    <center><h1>Temario de Matematicas para Primaria</h1></center>
    <div class="destacado">
        <center><h3>Primer año Primaria</h3></center>
        <div class="btn-container">
            <a class="btn" href=""><button>Bloque 1:Introduccion a las matematicas</button> </a>
            <a class="btn" href=""><button>Bloque 2:Figuras y Cuerpos Geometricos</button> </a>
        <div class="btn-container">
            <a class="btn" href=""><button>Bloque 3:Aprender Sumas y Restas de Manera Divertida</button> </a>
            <a class="btn" href=""><button>Bloque 4:Resolucion de Problemas</button></a>
        </div>
    </div>
    </div>

    <br>
    <div class="destacado">
        <center><h3>Segundo Año Primaria</h3></center>
        <div class="btn-container">
            <a class="btn" href=""><button>Bloque 1: Operaciones Sobre Matemáticas Avanzadas</button> </a>
            <a class="btn" href=""><button>Bloque 2: Geometría Avanzada"</button> </a>
        <div class="btn-container">
            <a class="btn" href=""><button>Bloque 3: Medición Estándar</button> </a>
            <a class="btn" href=""><button>Bloque 4: Resolución de Problemas Complejos</button></a>
        </div>
    </div>
    </div>

    <br>
    <div class="destacado">
        <center><h3>Tercer Año Primaria</h3></center>
        <div class="btn-container">
            <a class="btn" href=""><button>Bloque 1: Multiplicar y Dividir</button> </a>
            <a class="btn" href=""><button>Bloque 2: Fracciones</button> </a>
            <a class="btn" href=""><button>Bloque 3: Geometría Avanzada</button> </a>
            <a class="btn" href=""><button>Bloque 4: Problemas Complejos</button></a>
    </div>
    </div>

    <br>
    <div class="destacado">
        <center><h3>Cuarto Año Primaria</h3></center>
        <div class="btn-container">
            <a class="btn" href=""><button>Bloque 1: Fracciones y Decimales</button> </a>
            <a class="btn" href=""><button>Bloque 2: Geometría de Figuras Tridimensionales</button> </a>
            <a class="btn" href=""><button>Bloque 3: Medición Avanzada</button> </a>
            <a class="btn" href=""><button>Bloque 4: Introducción al Álgebra</button></a>
    </div>
    </div>


    <br>
    <div class="destacado">
        <center><h3>Quinto Año Primaria</h3></center>
        <div class="btn-container">
            <a class="btn" href=""><button>Bloque 1: Fracciones y Decimales Avanzados</button> </a>
            <a class="btn" href=""><button>Bloque 2: Propiedades Geométricas y Cálculo de Volúmenes</button> </a>
            <a class="btn" href=""><button>Bloque 3: Medición Avanzada y Análisis de Datos</button> </a>
            <a class="btn" href=""><button>Bloque 4: Introducción a la Probabilidad</button></a>
    </div>
    </div>


    <br>
    <div class="destacado">
        <center><h3>Sexto Año Primaria</h3></center>
        <div class="btn-container">
            <a class="btn" href=""><button>Bloque 1: Geometría Avanzada</button> </a>
            <a class="btn" href=""><button>Bloque 2: Fracciones, Decimales y Porcentajes</button> </a>
            <a class="btn" href=""><button>Bloque 3: Análisis de Datos y Probabilidad</button> </a>
            <a class="btn" href=""><button>Bloque 4: Resolución de Problemas Complejos</button></a>
    </div>
    </div>




</body>
</html>